include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include eka_ai *.py *.typed
recursive-include tests *.py
recursive-include examples *.py
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
